/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-label-active {
    color: #00ADEE !important;
} 
.remove-border-bottom .mat-tab-header {
    border-bottom: none;
}
.mat-tab-nav-bar:active{
    color: #00ADEE !important;
}
.mat-ink-bar{
    background-color: #00ADEE !important;
    display:block;
    height: 8px !important;
}
